*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables for colors */

:root{
    --primary-color:#07485D;
    --secondary-color:#027D8D;
    --info-color:#027D8A;
    --fore-color:#cacac9;
    
}

body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

header{
    position: relative;
    height: 83px;
    width: 100%;
    margin-top: 1rem;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin:0 auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.brand{
    color: #021300;
    font-size: 30px;
    text-transform: capitalize;
    font-family: cursive;
    font-weight: 900;
    margin-left: 20px;
}

.brand-text{
    color: var(--primary-color);
}

.navigation-bar ul li{
    display: inline-block;
    margin: 0 25px;
}

.navigation-bar ul li:last-child{
    margin-right: 0px;

}

.navigation-bar ul li a{
    color: #222222;
    font-size-adjust: 16px;
    font-weight: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.navigation-bar ul li a:hover{
    color: var(--secondary-color);
    border-bottom: 3px solid var(--primary-color);
}
.btn{
    display: inline-block;
    padding: 10px 28px;
    background-color: var(--info-color);
    color: #fff !important;
    border-radius: 5px;
    font-weight: 600;
}

.navigation-bar ul li a.btn:hover{
    background-color: var(--primary-color);
    color:var(--fore-color);
}

/* Manual burger menu */
.burger{
    width: 25px;
    cursor: pointer;
    display: none;

}
.burger span{
    display: block;
    margin-bottom: 4px;
    height: 4px;
    color: #021300;
    width: 100%;
    background-color: var(--info-color);
}




/* resposive part */

@media(min-width: 991px){
    .navigation-bar{
        display: block !important;
    }
}

@media (max-width: 991px) {
    .burger{
        display: block;
        position: absolute;
        right: 20px;
    }
    .navigation-bar{
        display: none;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        background-color: var(--fore-color);
        color: #cacac9 !important;
        padding: 20px 0;
        text-align: center;
        justify-content: center;
        z-index: 2;
       
    }
    .navigation-bar ul li{
        display: block;
        margin: 16px 0;
    }

    .navigation-bar.active{
        display: flex;
    }
    
}

